.typeBox {
	padding: 20px;
	max-width: 400px;
	margin: 0 auto 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background: #012d5e;
	border-radius: 4px;
}

.currentWord {
	color: #fcd95e;
	margin-bottom: 20px;
	font-size: 2em;
}

.message {
	color: #fff;
	font-weight: 600;
	margin-bottom: 20px;
}

.startGame {
	margin-bottom: 20px;
	font-weight: 600;
}